* {
    -fx-fill: #FFF;
    -fx-alignment: center;
}

.hidden {
    visibility: hidden;
}

.wrapper {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-padding: 2em;
    -fx-max-width: 25em;
}

.pause {
    -fx-font-size: 2em;
}

.large-text {
    -fx-font-size: 4em;
}

.game-end {
    -fx-font-size: 2em;
}

.game-end-helper {
    -fx-font-size: 1em;
}