* {
    -fx-fill: #FFF;
    -fx-alignment: center;
}

.hidden {
    visibility: hidden;
}

.pause-menu {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-padding: 2em;
    -fx-max-width: 25em;
}

.pause {
    -fx-font-size: 2em;
}

.countdown-wrapper {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-padding: 2em;
    -fx-max-width: 25em;
}

.countdown {
    -fx-font-size: 4em;
}