* {
    -fx-fill: #FFF;
    -fx-alignment: center;
}

.menu-title {
	-fx-focus-color: transparent;
    -fx-padding: 2em;
    -fx-faint-focus-color: transparent;
}

.game-title {
    -fx-font-size: 4em;
}

.menu-items {
    -fx-font-size: 2em;
}

.menu-items Text {
    -fx-fill: #A8A8A8;
}

.menu-items Text:hover {
    -fx-fill: #FFF;
}

.settings-center {
    -fx-font-size: 2em;
    -fx-padding: 50px;
}

.settings-center Text{
    -fx-fill: #FFF;
}

.score-title {
	-fx-font-size: 40px;
}


